nav {
    height: 10vh;
    min-height: 4em;
    position: relative;
}
nav .username {
    margin-right: 1em;
    font-size: 1.15rem;
}
#start {
    background-image: url('images/main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.central {
    display: flex;
    flex-direction: column;
}
.central > h1 {
    font-size: 48px !important;
}
#advantages {
    background-image: url('images/advantages.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#advantages .row {
    margin-top: 3em;
    margin-bottom: 1.5em;
    min-height: 30vh
}
#advantages .col {
    margin: 2em;
}
.img {
    display: flex;
}
.img > img {
    margin: auto;
}
#advantages .col > img {
    margin: auto;
}
#advantages h2 {
    font-size: 42px !important;
}
#footer {
    background-color: #000000;
}
#footer .col {
    margin-top: 2em;
    margin-bottom: 2em;
}
#footer .col > ul {
    padding: 0px;
}
#footer .col > ul > li {
    list-style-type: none;
    margin-bottom: 0.5em;
}
#plans {
    background-image: url('images/main.jpg');
    background-size: cover;
    background-position: center;
    //min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
}
#plans .col {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.97);
    margin: 0.2em;
    border-radius: 4px;
}
#plans .col > p {
    min-height: 8em;
}
#plans .row {
    margin-bottom: 2em;
}
#plans .col > ul {
    padding: 0px;
    min-height: 13em;
}
#plans .col > ul > li {
    list-style-type: none;
    margin-bottom: 0.5em;
}
#login {
    background-image: url('images/main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#login input {
    background-color: inherit;
    color: white;
    outline: none;
    border: 1px solid gray;
}
.login {
    background-color: rgba(0, 0, 0, 0.97);
    padding: 2em;
    border-radius: 4px;
}
.login h1 {
    margin-top: 0;
}
